.body {
  background: #f1ebdf;
  display: grid;
  margin: 0;
  justify-content: center;
  grid-template: auto 1fr auto / min(100dvw, 420px);
  min-height: 100dvh;
  overflow: hidden;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 36px 0;
}

.site-name {
  font-family: "Playwrite AU SA", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
}

.profile-image-container {
  height: 84px;
  width: 84px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  margin: 18px 0;
}

.profile-image {
  position: absolute;
  height: 100%;
  width: 100%;
}

.description-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.name {
  font-size: 24px;
  margin: 0;
}

.description {
  font-size: 14px;
  margin: 0;
}

.main {
  display: grid;
  gap: 18px;
  padding: 0 12px;
}

.list {
  list-style: none;
  display: grid;
  gap: 18px;
  padding: 0;
  margin: 0;
}

.link {
  background: #fff;
  padding: 9px;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgb(0 0 0 / 0.13);
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 12px;
  color: #000;
  text-decoration: none;
}

.icon-container {
  border-radius: 6px;
  height: 50px;
  position: relative;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-container:has(.x) {
  background: #000;
}

.icon-container:has(.twitcasting) {
  background: linear-gradient(
    135deg,
    rgb(8 146 253 / 1),
    rgb(8 188 209 / 1) 75%,
    rgb(8 230 159 / 1)
  );
}

.icon-container:has(.youtube) {
  background: #fff;
}

.icon {
  position: absolute;
}

.x {
  height: 25px;
  width: 25px;
}

.twitcasting {
  height: 100%;
  width: 100%;
}

.youtube {
  height: 35px;
  width: 35px;
}

.link-name {
  font-size: 11px;
  margin: 0;
}

.link-description {
  font-size: 11px;
  margin: 0;
}

.youtube-iframe-container {
  width: 100%;
  position: relative;
  aspect-ratio: 16 / 9;
}

.youtube-iframe {
  position: absolute;
  height: 100%;
  width: 100%;
}

.footer {
  font-size: 12px;
  margin: 36px 0;
  text-align: center;
}
